{% extends 'extras/base.html' %}
{% block content %}
<h1>Welcome to Covid Predictor</h1>
<h2>SIGN UP</h2>
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong> You should check in on some of those fields below.
</div>
{% endif %}
<form method="post" class="form-control">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-secondary">Register</button>
</form>
<a href="{% url 'home' %}">Back to Login</a>
{% endblock %}